@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    size: landscape;
    margin: 8mm;
  }
}
